body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  color: gray;
  font-size: 50px;
}

.time-display {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-display{
  display: flex;
  align-items: center;
  justify-content: center;
}